body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #E0FFFF, #DCDCDC, #E0FFFF);


}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
    color: #a37f30
    ;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
    {
    background: #a37f30
    ;
    color: #fff;
    transition: 0,5s;
}
@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: 40px;
        height: 40px;
        width: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #a37f30
        ;
    }
    .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
        }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
}
footer{
    position: fixed;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    background: #fff;
}
.footertop{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #a37f30
    ;
}
.footerbottom{
    position: relative;
    display: inline-block;
    width: 98%;
    height: 10px;
    margin: 10px;
    margin-top: 0;
    background: #fff;
    padding: 0;
    font-size: 65%;
    text-align: center;
    content: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #a37f30
    ;
    text-align: center;

}
.medsos ul{
    padding-inline-start: 0;

}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}
nav ul li a:hover{
    background: #a37f30
    ;
    color: #fff;
    transition: 0,5s;
}
.medsos ul li:hover{
    background: #9bd6c7;
}
.banner{
    height: 60vh;
    border: 1px solid;
    background-image: url('reza.jpeg');
    background-size: cover;
    position: relative;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .6);
}
.banner h2{
    color: #a37f30
    ;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #a37f30
    ;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
section{
    padding: 50px 0;
}