*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    
}
.logo{
    color: #a37f30;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
    {
    background: #a37f30;
    color: #fff;
    transition: 0,5s;
}
@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: 40px;
        height: 40px;
        width: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #a37f30;
    }
    .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
        }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
}
.main-conten{
    position: relative;
    max-width: 1400px;
    margin: 20px 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    background-color: #fff;
    color: #a37f30;
}
a{
    color: #ffffff;
}
.medsos{
    padding: 5px 0;
    width: 100%;
    margin: 0 auto;
    background-color: #a37f30;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}
.medsos ul li:hover{
    background: #d6c39b;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #a37f30;
}
.main-conten{
    display: flex;
}
.main-conten .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .conten{
    margin: 20px 0 0 0;
}
.left .content .medsos{
    margin: 20px 0 0 0;
}
.copyright{
    text-align: right;
    font-size: 15px;
    height: 0;
    padding: 0 20px;
    margin: 0px;
    position: relative;
    bottom: 0;
}